

/* latin-ext */
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900|Oswald:700|Quicksand:300,400&subset=latin-ext');


html,body,h1,h2,h3,h4,h5,h6,table,tr,td,th,img,video,iframe,audio,form,p,a,i,b,u,input,button,textarea,select{margin:0;padding:0;border:0}

.clearfix{clear:both;}

body{
    position:relative;
    font-size:14px;
    line-height:20px;
    font-family: 'Quicksand', arial, sans-serif;
    font-weight:300;
    color:#999;
}

.head_logo{
    width:300px;
    height:80px;
    margin-left:60px;
    background-image:url('../img/logo.png');
background-repeat:no-repeat;
background-position:center top;
}

.top_head_nav{
    padding-top:25px;
    padding-right:10px;
    float:right;
    a{
        display:block;
        float:left;
        padding:4px 8px;
        text-decoration:none;
        color:#ccc;
        font-size:12px;
        font-weight:700;
        border-bottom:1px solid #fff;
    }
    a:hover{
        border-bottom:1px solid #93b8f1;
        color:#5486d4;
    }
}

#section-slider
{
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    .mirror-overlay{
        position:absolute;
        top:0;left:0;right:0;bottom:0;
        background-image:url('../img/pattern-overlay.png');
        background-repeat:repeat;
        background-color:rgba(0,0,0,.3);
    }

    .jumbo_title{
        position:relative;
        max-width:500px;            
        padding:180px 50px;
        color:#ddd;
        text-align:right;
        text-shadow:1px 1px 8px rgba(0,0,0,.8);
        .split_slider{
            width:200px;
            height:100px;
            position:absolute;
            top:0;
            left:0;
            background-image:url('../img/plit_slider.png');
            background-repeat:no-repeat;
            background-position:center top;
        }
        h1{
            padding-top:10px;
            font-size:70px;
            line-height:70px;
            color:#fff;
        }
        p{
            padding-top:10px;
            font-weight:700;
            font-size:20px;
        }
    }
}

.section-main_menu{
    background-color:rgb(56, 106, 181);
    nav.main_menu{
    margin:auto;
    a{
        font-family: 'Lato', tahoma, sans-serif;
        text-decoration:none;
        padding:10px;
        display:block;
        float:left;
        font-weight:900;
        font-size:12px;
        color:#ddd;
        border-bottom:5px solid #386ab5;
        i{
            padding-right:8px;
            font-weight:normal;
        }
    }
    a:hover,.track-menu-active{
        color:#333;
        border-bottom:5px solid #45f110;
        background-color:#fff;
    }
    a:last-child{
        border-right:none;
    }
}
}

.section-sub_menu{
    .parkers{
        background-color:#fff;
        padding:20px;
        border:1px solid #eee;
        border-top:2px solid #45f110;
        box-shadow:0 0 10px rgba(0,0,0,.2)
    }
}

.searchbox{
    background-color:#fff;
    
    margin-top:15px;
    .nav-searchbox{
        display:block;
        border-bottom:1px solid #ddd;
        a{
            font-family: 'Lato', tahoma, sans-serif;
            border-right:1px solid #eee;
            font-weight:400;
            font-size:12px;
            color:#666;
            display:block;
            float:left;
            text-decoration:none;
            font-weight:700;
            padding:10px;
            background-color:#fff;
        }
        a:hover{
            background-color:#396bb6;
            color:#fff;
        }
    }
    .tab-content-searchbox{
        background-color:#fff;
        padding:20px;
    }
}


.rel-tab{
    padding:20px;
    background-color:#eee;
    margin-bottom:20px;
}

.price{
    font-family: 'Lato', tahoma, sans-serif;
    color:#666;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', arial, sans-serif;
    font-weight:700;
    color:#333;
}


















#section-content{
    background-color:#ffffff;
    padding:20px 0;
}




.sub-title{
    font-family: 'Lato', tahoma, sans-serif;
    font-size:36px;
    line-height:40px;
    font-weight:900;
    padding:20px;
    .ltx1{
        font-weight:900;
    }
    .ltx2{
        font-weight:400;
        color:#666;
    }
    .spark_a{
        width:200px;
        height:2px;
        position:relative;
        background-color:#84e116;
        margin-top:5px;
        .spark_b{
            width:80px;
            height:5px;
            position:absolute;
            background-color:#84e116;
        }
    }
}





/* produk box */
.produk-box{
    margin:10px;
    position:relative;
    border-radius:4px;
    overflow:hidden;
    .cover{
        width:100%;
        height:200px;
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        position:relative;
        .produk-info{
            opacity:0;
            position:absolute;
            top:0;left:0;right:0;bottom:0;
            background-color:rgba(56,106,181,.9);
            text-align:center;
            background-image:url('../img/bgwall.png');
            background-position:center right;
            background-repeat:no-repeat;
            h3{
                font-family: 'Oswald', arial, sans-serif;
                font-weight:700;
                color:#fff;
                font-size:20px;
                line-height:22px;
                padding:10px 20px;
                padding-top:20px;
            }
            p{
                padding:10px 20px;
                color:#fff;
                font-size:12px;line-height:16px;
            }
            .reviews{
                padding:10px 20px;
                font-size:11px;
                color:#fff;
                font-weight:700;
                i{
                    font-size:14px;
                }
            }
            .pricing{
                font-family: 'Lato', tahoma, sans-serif;
                font-weight:900;
                padding:5px 10px;
                font-size:18px;
                color:#fff;
                span{
                    font-size:14px;
                    color:#fff;
                }
            }
        }
        .produk-caps{
            font-family: 'Oswald', arial, sans-serif;
            font-weight:700;
            font-size:14px;
            position:absolute;
            padding:10px;
            background-color:rgba(255,255,255,.7);
            right:0;
            left:0;
            bottom:15px;
            text-align:center;
            color:#333;
        }
    }
}
.produk-box:hover{
    .cover{
        .produk-info{
            animation:gsx 2s forwards;
        }
        .produk-caps{
            display:none;
        }
    }
}

@keyframes gsx{0%{opacity:0;}100%{opacity:1;}}


.tocart{
    width:140px;
    height:30px;
    border-radius:3px;
    position:relative;
    margin:5px auto;
    background-color:#fff;
    overflow:hidden;
    .tocart-qty{
        text-align:center;
        width:30px;
        height:30px;
        outline:none;
        position:absolute;
        top:0;left:0;
        background-color:#fff;
        color:#666;
        font-size:12px;
    }
    .tocart-btn{
        position:absolute;
        top:4px;
        left:40px;
        cursor:pointer;
        font-weight:700;
        color:#666;
        font-size:12px;
    }
}



#section-footer{
    margin-top:50px;
    border-top:1px solid #333;
    background:url('../img/plit_footer_end.png') 80% bottom no-repeat,url('../img/footer_main.png'), #22449a;
    .inside-footer{
        padding:80px 40px;
        h1,h2,h3,h4{
            color:#fff;
        }
        .ptext{
            padding:10px 0;
            font-size:12px;
            line-height:18px;
            padding-right:20px;
            color:#ddd;
        }
    }
}
#section-copyright{
    background-color:#ddd;
    font-size:12px;
    .copyright{
        padding:20px;
        text-align:center;
        font-weight:700;
        color:#999;
    }
}