

/* latin-ext */
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900|Oswald:700|Quicksand:300,400&subset=latin-ext');


html,body,h1,h2,h3,h4,h5,h6,table,tr,td,th,img,video,iframe,audio,form,p,a,i,b,u,input,button,textarea,select{margin:0;padding:0;border:0}

.clearfix{clear:both;}

body{
    position:relative;
    font-size:14px;
    line-height:20px;
    font-family: 'Quicksand', arial, sans-serif;
    font-weight:300;
    color:#999;
}

.head_logo{
    width:300px;
    height:100px;
    margin-left:60px;
    background-image:url('../img/logo.png');
background-repeat:no-repeat;
background-position:center top;
}

.top_head_nav{
    padding-top:25px;
    padding-right:10px;
    float:right;
    a{
        display:block;
        float:left;
        padding:4px 8px;
        text-decoration:none;
        color:#ccc;
        font-size:12px;
        font-weight:700;
        border-bottom:1px solid #fff;
    }
    a:hover{
        border-bottom:1px solid #93b8f1;
        color:#5486d4;
    }
}

#section-slider
{
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    .mirror-overlay{
        position:absolute;
        top:0;left:0;right:0;bottom:0;
        background-image:url('../img/pattern-overlay.png');
        background-repeat:repeat;
        background-color:rgba(0,0,0,.3);
    }

    .jumbo_title{
        position:relative;
        max-width:500px;            
        padding:180px 50px;
        color:#ddd;
        text-align:right;
        text-shadow:1px 1px 8px rgba(0,0,0,.8);
        .split_slider{
            width:200px;
            height:100px;
            position:absolute;
            top:0;
            left:0;
            background-image:url('../img/plit_slider.png');
            background-repeat:no-repeat;
            background-position:center top;
        }
        h1{
            padding-top:10px;
            font-size:70px;
            line-height:70px;
            color:#fff;
        }
        p{
            padding-top:10px;
            font-weight:700;
            font-size:20px;
        }
    }
}

.section-main_menu{
    background-color:rgb(56, 106, 181);
    nav.main_menu{
    margin:auto;
    a{
        font-family: 'Lato', tahoma, sans-serif;
        text-decoration:none;
        padding:10px;
        display:block;
        float:left;
        font-weight:900;
        font-size:12px;
        color:#ddd;
        border-bottom:5px solid #386ab5;
        i{
            padding-right:8px;
            font-weight:normal;
        }
    }
    a:hover,.track-menu-active{
        color:#333;
        border-bottom:5px solid #45f110;
        background-color:#fff;
    }
    a:last-child{
        border-right:none;
    }
}
}

.section-sub_menu{
    display:none;
    .parkers{
        background-color:#fff;
        border:1px solid #eee;
        border-top:3px solid #45f110;
    }
}

.searchbox{
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    overflow:hidden;
    margin-top:15px;
    .nav-searchbox{
        display:block;
        border-bottom:1px solid #eee;
        a{
            font-family: 'Lato', tahoma, sans-serif;
            border-right:1px solid #eee;
            font-weight:400;
            font-size:12px;
            color:#666;
            display:block;
            float:left;
            text-decoration:none;
            font-weight:700;
            padding:10px;
            background-color:#fff;
        }
        a:hover{
            background-color:#396bb6;
            color:#fff;
        }
    }
    .tab-content-searchbox{
        background-color:#f9f9f9;
        padding:20px;

        h3{
            font-size:14px;font-weight:900;
        }
        p{
            font-size:12px;
            color:#333;
            font-weight:400;
            padding:5px 0;
            a{
                text-decoration:none;
                font-weight:900;
                color:#386ab5;
            }
        }
    }
}


.rel-tab{
    padding:20px;
    background-color:#eee;
    margin-bottom:20px;
}

.price{
    font-family: 'Lato', tahoma, sans-serif;
    color:#666;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', tahoma, sans-serif;
    /* font-family: 'Oswald', arial, sans-serif; */
    font-weight:700;
    color:#333;
}

.tbx-header{
    border-bottom:1px solid #eee;
    a{
        display:block;
        float:left;
        padding:10px;
        border-right:1px solid #eee;
        text-decoration:none;
        color:#999;
        font-weight:900;
    }
    a:hover{
        color:#386ab5;
    }
    .active{
        background-color:#45f110;
        color:#fff;
    }
    .active:hover{
        color:#fff;
    }
}
.tbx-content{
    clear:both;
    .tab-data-content{
        display:none;
        background-position:right center;
        background-repeat:no-repeat;
        min-height:200px;
        h1{
            padding:50px;
            text-align:right;
            font-size:24px;
            line-height:30px;
            color:#333;
        }

        .nav-item-intab{
            padding:40px;
            max-width:400px;
            a{
                width:170px;
                display:block;
                padding:3px 9px;
                padding-left:20px;
                float:left;
                text-decoration:none;
                color:#666;
                font-weight:bold;
                font-size:11px;
                background-image:url('../img/r-arrow.png');
                background-position:1px 5px;
                background-repeat:no-repeat;
            }
            a:hover{
                color:#386ab5;
                background-image:url('../img/r-arrow-hover.png');
            }
        }
    }
}

.bottom-link{
    a{
        display:block;text-decoration:none;
        color:#fff;
        font-weight:900;
        font-size:11px;
        padding:2px 0;
    }
}


















#section-content{
    background-color:#ffffff;
    padding:20px 0;
}




.sub-title{
    font-family: 'Lato', tahoma, sans-serif;
    font-size:36px;
    line-height:40px;
    font-weight:900;
    padding:20px;
    .ltx1{
        font-weight:900;
    }
    .ltx2{
        font-weight:400;
        color:#666;
    }
    .spark_a{
        width:200px;
        height:2px;
        position:relative;
        background-color:#84e116;
        margin-top:5px;
        .spark_b{
            width:80px;
            height:5px;
            position:absolute;
            background-color:#84e116;
        }
    }
}





/* produk box */
.produk-box{
    margin:8px;
    margin-bottom:30px;
    position:relative;
    color:#333;
    border-radius:4px;overflow:hidden;
    border:1px solid #eee;
    .cover{
        width:100%;
        min-height:200px;
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        position:relative;
    }
    .produk-info{
        font-family:'lato',arial,sans-serif;
        position:relative;
        text-align:center;
        font-weight:400;
        padding:15px;
        h3{
            font-family:'lato',arial,sans-serif;
            font-size:12px;
            text-transform:uppercase;
            color:#386ab5;
            padding-bottom:5px;
            height:40px;
        }
        .reviews{
            font-size:10px;
            span{
                padding:6px 4px;
            }
        }
        .pricing{
            color:#333;
            font-weight:400;
            font-size:18px;
            padding-bottom:5px;
            span{
                font-size:12px;
                color:#333;
                font-weight:400;
                padding-right:5px;
            }
        }

        .tocart{
            width:130px;
            padding:5px 0;
            position:relative;
            margin:5px auto;
            overflow:hidden;
            color:#333333;
            font-size:12px;
            font-weight:900;
            border-radius:3px;
            background-color:#ffffff;
            border:1px solid #eee;
            i{
                padding-right:8px;
            }
        }
        .tocart:hover{
            color:#ffffff;
        }
    }
    .produk-info:hover{
        h3{
            color:#333;
        }
        .pricing{
            color:#333;
            span{
                color:#333;
            }
        }
        .tocart{
            color:#333;
            background-color:#ffffff;
        }
        .tocart:hover{
            color:#ffffff;
            background-color:#1ccf0c;
            border:1px solid #1ccf0c;
        }
    }
}
.produk-box:hover{
    background-color:#eeeeee;
}



#section-footer{
    margin-top:50px;
    border-top:1px solid #333;
    background:url('../img/plit_footer_end.png') 80% bottom no-repeat,url('../img/footer_main.png'), #22449a;
    .inside-footer{
        padding:80px 40px;
        h1,h2,h3,h4{
            color:#fff;
        }
        .ptext{
            padding:10px 0;
            font-size:12px;
            line-height:18px;
            padding-right:20px;
            color:#ddd;
        }
    }
}
#section-copyright{
    background-color:#ddd;
    font-size:12px;
    .copyright{
        padding:20px;
        text-align:center;
        font-weight:700;
        color:#999;
    }
}





/* content */

.bullets_list{
    padding:20px;
    color:#333;
    h3,h2,h2{
        padding-bottom:10px;
    }
    p{
        padding:5px 0;
        color:#999;
        font-weight:400;
        font-size:14px;
        line-height:20px;
    }
}

.faq-box{
    padding:0 20px;
    margin:20px;
    color:#333;
    border-left:4px solid #84e116;
    .questions{
        font-weight:900;
        font-size:14px;
        color:#999;
        font-family: 'Lato', tahoma, sans-serif;
    }
    .answers{
        font-weight:400;
        font-style:italic;
        font-size:13px;
        color:#ccc;
    }
}



/* forms */

.isForms{
    input,select,textarea{
        font-family: 'Lato', tahoma, sans-serif;
        font-size:14px;
        background-color:#eeeeee;
        color:#999;
        padding:8px;
        margin:0 5px;
        border-bottom:1px solid #eee;
        outline:none;
        box-sizing:margin-box;
        display:block;
        width:100%;
    }
    select{
        padding:7px;
    }
    .form-list{
        padding:10px;
    }
    .label-title{
        font-weight:900;
        padding:8px 15px;
        text-align:right;
        display:block;
        color:#333;
    }
    .toUppercase{
        text-transform: uppercase;
    }
    .inps-btn{
        font-family: 'Lato', tahoma, sans-serif;
        padding:10px 15px;
        background-color:#386ab5;
        color:#fff;
        font-weight:900;
        cursor:pointer;
        text-transform: uppercase;
        font-size:12px;
        line-height:16px;
        border:none;
        i{
            padding-right:10px;
            font-weight:normal;
        }
    }

    .inps-btn-submit{
        background-color:#386ab5;
        color:#fff;
    }
}
    